<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="statsd_port" value="8125" />
    <add key="statsd_FlushInterval" value="5000" />
    <add key="statsd_PctThreshold" value="90" />
    <add key="statsd_FlushToConsole" value="true" />
    <add key="statsd_DeleteIdleStats" value="false" />
    <add key="MetricsDatabase_Schema" value="dbo" />
  </appSettings>
  <connectionStrings>
    <add name="MetricsDatabase" connectionString="server=localhost;database=Overseer;trusted_connection=true" />
  </connectionStrings>
</configuration>